@page
@model IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AcuCredential[0].siteUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AcuCredential[0].userName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AcuCredential[0].password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AcuCredential[0].tenant)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AcuCredential[0].branch)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AcuCredential[0].locale)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.AcuCredential) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.siteUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.userName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tenant)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.branch)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.locale)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
